---
import { eq } from "astro:db";
import AuthLayout from "../../layouts/AuthLayout.astro";

import { db, Role, User } from "astro:db";

const { userId } = Astro.locals.auth();
if (!userId) {
    return Astro.redirect("/auth/login");
}

const cureentUser = await Astro.locals.currentUser();
const roles = await db.select().from(Role);

const checkEmail = await db
    .select()
    .from(User)
    .where(eq(User.email, cureentUser.emailAddresses[0].emailAddress));

if (checkEmail[0].email) {
    return Astro.redirect("/");
}

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const roleInput = data.get("role");

    if (roleInput == "Event Organizer") {
        const name = cureentUser.firstName + cureentUser.lastName;
        const email = cureentUser.emailAddresses[0].emailAddress;
        const idRole = 1;
        const password = null;

        await db.insert(User).values({
            email: email,
            idRole: idRole,
            name: name,
            password: password,
            id: null,
        });

        return Astro.redirect("/");
    } else if (roleInput == "Sponsor") {
        const name = cureentUser.firstName + cureentUser.lastName;
        const email = cureentUser.emailAddresses.toString();
        const idRole = 2;
        const password = null;

        await db.insert(User).values({
            email: email,
            idRole: idRole,
            name: name,
            password: password,
            id: null,
        });
        return Astro.redirect("/");
    }
}
---

<AuthLayout title="Select Role">
    <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title flex justify-center mb-4">Select Role</h2>
            <form method="post">
                <select
                    class="select select-bordered w-full max-w-xs"
                    name="role"
                >
                    <option disabled selected>Select Role</option>
                    {
                        roles.map((role) => {
                            return <option>{role.role}</option>;
                        })
                    }
                </select>
                <div class="card-actions justify-end mt-4">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</AuthLayout>
