---
import { eq } from "astro:db";
import AuthLayout from "../../layouts/AuthLayout.astro";
import { db, Roles, Users } from "astro:db";
import { RoleForm } from "@/components/roleform";

const { userId } = Astro.locals.auth();
if (!userId) {
    return Astro.redirect("/auth/login");
}

const cureentUser = await Astro.locals.currentUser();

const checkEmail = await db
    .select()
    .from(Users)
    .where(eq(Users.email, cureentUser.emailAddresses[0].emailAddress));

if (checkEmail[0] && checkEmail[0].idRole === 1) {
    return Astro.redirect("/event/dashboard");
}

if (checkEmail[0] && checkEmail[0].idRole === 2) {
    return Astro.redirect("/sponsor/dashboard");
}

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const roleInput = data.get("role");

    const name = cureentUser.firstName + cureentUser.lastName;
    const email = cureentUser.emailAddresses[0].emailAddress;
    const password = null;

    if (roleInput === "Event Organizer") {
        const idRole = 1;
        await db.insert(Users).values({
            email: email,
            idRole: idRole,
            name: name,
            password: password,
            id: null,
        });

        return Astro.redirect("/event/dashboard");
    }

    if (roleInput === "Sponsor") {
        const idRole = 2;
        await db.insert(Users).values({
            email: email,
            idRole: idRole,
            name: name,
            password: password,
            id: null,
        });
        return Astro.redirect("/sponsor/dashboard");
    }
}
---

<AuthLayout title="Select Role">
    <div><RoleForm client:load /></div>
</AuthLayout>
