---
import EventLayout from "@/layouts/EventLayout.astro";

const currentUser = await Astro.locals.currentUser();

if (!currentUser) {
    return Astro.redirect("/auth/login");
}
---

<EventLayout title="Dashboard">
    <div class="flex justify-center items-center h-[80vh]">
        <h1>Hello World</h1>
    </div>
</EventLayout>
