---
import EventLayout from "@/layouts/EventLayout.astro";
import CardSponsor from "@/components/cardsponsor";
import CategoryList from "@/components/categorylist";
import { db, Categories, Sponsor, eq } from "astro:db";
  
const sponsorList = await db
  .select()
  .from(Sponsor)
  .leftJoin(Categories, eq(Sponsor.id, Categories.id));
---

<EventLayout title="Sponsor">
  <div class="flex flex-col justify-center items-center w-full h-56">
    <h1 class="text-4xl font-semibold">Daftar Sponsor</h1>
    <p>Temukan sponsor pilihanmu</p>
  </div>
  <div class="mb-10">
    <CategoryList />
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
  >
    {
      sponsorList.map((item) => {
        console.log(item.Sponsor.description);
        return (
          <div class="flex justify-center">
            <CardSponsor 
              name={item.Sponsor.name},
              category={item.Categories.category}, 
              description = {item.Sponsor.description}, 
              image={item.Sponsor.image}  
            />
          </div>
        );
      })
    }
  </div>
</EventLayout>
