---
const { title } = Astro.props;
import { ClerkLayout } from "astro-clerk-auth/components/control";
import "@/styles/globals.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Sponsorify</title>
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" />
  </head>
  <body>
    <div class="flex justify-center items-center h-screen">
      <ClerkLayout><slot /></ClerkLayout>
    </div>
  </body>
</html>
