---
const { title } = Astro.props;
import "@/styles/globals.css";
import { DashboardLayout } from "../blocks/dashboardLayout";
import { UserButton } from "astro-clerk-auth/components/interactive";

const url = Astro.url.pathname;
const urlValue = url.split("/");

// if (Astro.request.method === "POST") {
//   const formData = await Astro.request.formData();
//   const method = formData.get("method");
//   if (method === "search") {
//     const query = formData.get("search");
//   }
// }
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.svg" type="image/x-icon" />
    <title>{title} - Sponsorify</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body>
    <DashboardLayout client:load url={urlValue[2]}>
      <div slot="user-button"><UserButton /></div>
      <div slot="main" class="h-full"><slot /></div>
    </DashboardLayout>
  </body>
</html>
