---
const { title } = Astro.props;
import "@/styles/globals.css";
import { DashboardLayout } from "../blocks/dashboardLayout";
import { UserButton } from "astro-clerk-auth/components/interactive";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title} - Sponsorify</title>
    </head>
    <body>
        <DashboardLayout client:load>
            <div slot="user-button"><UserButton /></div>
            <div slot="main"><slot /></div>
        </DashboardLayout>
    </body>
</html>
